*{
    font-family: Georgia, 'Times New Roman', Times, serif;  
    background-color: beige; 
}

h3,
h1,
p{
    text-align: center;
}

ul, strong{
    color: rgb(168, 53, 168);

}
ol{
    color: darkred;
}

.ul-home{
    text-align: center;
}